@import "../_snowpack/pkg/tailwindcss/dist/base.css";
@import "../_snowpack/pkg/tailwindcss/dist/components.css";
@import "../_snowpack/pkg/tailwindcss/dist/utilities.css";

.fox-image{
    width: 20rem;
    background-color: rgb(212, 212, 212);
    min-height: 220px;
}