@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

.fox-image{
    width: 20rem;
    background-color: rgb(212, 212, 212);
    min-height: 220px;
}